<perch:gallery id="image" type="image" key="large" width="2000" />
<!-- Responsive options -->
<perch:gallery id="image" type="image" key="one" width="2000" />
<perch:gallery id="image" type="image" key="two" width="1600" />
<perch:gallery id="image" type="image" key="three" width="1100" />
<perch:gallery id="image" type="image" key="four" width="600" />
<!-- Index Image -->
<perch:gallery id="image" type="image" key="main"  width="640" height="640" crop="true" />
<!-- Admin Thumbnail -->
<perch:gallery id="image" type="image" key="thumb" width="30" height="30" crop="true" />
<!-- Image alt -->
<perch:gallery id="image-alt" type="text" size="m" label="Image Alt Description"/>
<!-- Image Text -->
<perch:gallery id="image-text" type="textarea" editor="redactor" html="true" label="Image Detail Description" help="Try to keep to 60 words or less." count="words" />
<perch:gallery id="image-sale-text" type="text" size="l" label="Text for buy this/find out more link." />
<perch:gallery id="image-sale-link" type="text" size="l" label="Full URL to image sale/find out more page." />
