<perch:before>
	<div class="gallery-album">
</perch:before>
<div class="album-image-div">
	<img class="album-image" src="<perch:gallery id="large" type="image"/>" alt="<perch:gallery id="image-alt" />"
    sizes="(max-width: 750px) 100vw,
		(max-width: 900px) 90vw,
		(max-width: 2000px) 80vw, 100vw"
	  srcset="<perch:gallery type="image" id="one" /> 2000w,
						<perch:gallery type="image" id="two" /> 1600w,
						<perch:gallery type="image" id="three" /> 1100w,
	          <perch:gallery type="image" id="four" /> 600w" />
	<perch:if exists="image-text">
		<div class="image-popup">
			<h2 class="image-text-title"><perch:gallery id="imageAlt" /></h2>
			<perch:gallery id="image-text" html="true" />
			<perch:if exists="image-sale-link">
				<a class="image-sale-link" href="<perch:gallery id="image-sale-link"/>">
					<perch:gallery id="image-sale-text" />
				</a>
			</perch:if>
		</div>
		<perch:if exists="image-text">
		<div class="trigger-div">
			<span class="image-popup-trigger" >Show Details</span>
		</div>
		</perch:if>
	</perch:if>
</div>
<perch:after>
	</div>
</perch:after>
