<article class="blog-article blog-index-listing listing-first-in-set">
  <h2 class="blog-index-listing-title">
    <a class="link-underline" href="<perch:blog id="postURL" />">
      <perch:blog id="postTitle" />
    </a>
  </h2>
    <div class="main-player-embed first-in-list-embed">
      <perch:blog id="mainPlayer" html="true" />
    </div>
<div class="first-in-list-text-wrapper">
  <div class="first-in-list-excerpt-div">
    <perch:blog id="blog-index-excerpt" html="true" />
    </div>
  <p class="read-more-link">
      <a class="read-more-link link-underline" href="<perch:blog id="postURL" />">Click here for show notes and stuff!</a>
  </p>
    <p class="blog-index-date-time">
      <perch:blog id="postDateTime"  format="%d %B %Y" />
    </p>
</div>
</article>
