
<style>
.main-header {
background:url(<perch:content id="header-background-image" type="image" label="Background image" />);
}
@media only screen and (max-width: 1920px) {
.main-header {
background:url(<perch:content id="header-background-image" type="image" label="Background image" width="1920" />);
}
}
@media only screen and (max-width: 1366px) {
.main-header {
background:url(<perch:content id="header-background-image" type="image" label="Background image" width="1366" />);
}
}
@media only screen and (max-width: 640px) {
.main-header {
background:url(<perch:content id="header-background-image" type="image" label="Background image" width="640" />);
}
}
</style>
