<h2 class="registration-subtitle">Returning customers log in.</h2>
<perch:form id="login" method="post" app="perch_members">
	<fieldset class="customer-login">

		<perch:error for="all" type="login">
			<p><span class="error">Those details do not match our records.</span></p>
		</perch:error>

		<div>
			<perch:label for="email">Email</perch:label>
			<perch:input type="email" id="email" required="true" label="Email" />
			<perch:error for="email" type="required">Required</perch:error>
			<perch:error for="email" type="format">Check format of address</perch:error>
		</div>
		<div>
			<perch:label for="password">Password</perch:label>
			<perch:input type="password" id="password" required="true" label="Password" />
			<perch:error for="password" type="required">Required</perch:error>
		</div>
		<div class="registration-page-submit">
			<perch:input type="submit" id="submit" value="Log in" />
			<perch:input type="hidden" id="r" />

			<p>Forgotten your password?<span id="password-reset"> Reset it now</span>.</p>
		</div>

    </fieldset>

</perch:form>
