
//********** Display Categories and Tags as inline block **********
.post-categories-li,
.post-tags-li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

//********** Remove list padding and margin **********
.post-categories-ul,
.post-tags-ul {
  margin: 0;
  padding: 0;
}

//********** Divider for blog post categories and tags **********
.post-categories-li:after,
.post-tags-li:after, {
content: "\00a0| ";
color: #000;
}

.post-categories-li:last-of-type:after,
.post-tags-li:last-of-type:after {
content: "";
}
