//*==============================================================================
//** Blog SCSS **
//*==============================================================================

//********** Imports **********

@use 'bits' as *; //Contains variables, media queries mixins etc.

//*=========================================
//** General styles **
//*=========================================

//*=========================================
//** Blog Index **
//*=========================================

//*=========================================
//** Blog Post **
//*=========================================

.blog-embed {
  @include flex(column);
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto $paragraph-spacing-large;

  iframe {
    max-width: 100% !important;
  }
}
