@import "bits";

.legals {
  width: 100%;
  background-color: $light-background;
  margin: 0 auto;
  li {
    margin-bottom: 10px;
  }
}

h1 {
  // margin: $heading-spacing 0;
  background-color: $font-colour;
  color: $light-font-colour;
  width: 100%;
  padding: 20px 0;
}

.legals-text-section {
  max-width: 1100px;
  padding: 0 $paragraph-spacing;
  margin-bottom: $heading-spacing;
}

.legals-footer {
  width: 100%;
}
